
Starting Nmap 6.47 ( http://nmap.org ) at 2016-07-09 12:47 EDT
Stats: 0:00:04 elapsed; 242 hosts completed (14 up), 14 undergoing Connect Scan
Connect Scan Timing: About 5.63% done; ETC: 12:47 (0:00:00 remaining)
Warning: 192.168.1.172 giving up on port because retransmission cap hit (6).
Warning: 192.168.1.171 giving up on port because retransmission cap hit (6).
Warning: 192.168.1.136 giving up on port because retransmission cap hit (6).
Nmap scan report for 192.168.1.1
Host is up (0.0066s latency).
Not shown: 994 closed ports
PORT     STATE SERVICE VERSION
21/tcp   open  ftp     D-Link DLS-2750U ftp firmward update
23/tcp   open  telnet  Broadcom BCM96328 ADSL router telnetd
80/tcp   open  http    micro_httpd
|_http-methods: No Allow or Public header in OPTIONS response (status code 501)
|_http-title: Actiontec
443/tcp  open  http    micro_httpd
|_http-methods: No Allow or Public header in OPTIONS response (status code 501)
|_http-title: Actiontec
4567/tcp open  tram?
5431/tcp open  upnp    Belkin/Linksys wireless router UPnP (UPnP 1.0; BRCM400 1.0)
Service Info: OS: Linux 2.4; Devices: WAP, broadband router, router; CPE: cpe:/h:dlink:dls-2750u, cpe:/h:broadcom:bcm96328, cpe:/o:linux:linux_kernel:2.4

Nmap scan report for 192.168.1.2 (192.168.1.2)
Host is up (0.00071s latency).
Not shown: 998 closed ports
PORT   STATE SERVICE VERSION
53/tcp open  domain  dnsmasq 2.73
| dns-nsid: 
|_  bind.version: dnsmasq-2.73
80/tcp open  http    LuCI Lua http config
|_http-methods: No Allow or Public header in OPTIONS response (status code 200)
|_http-title: Site doesn't have a title (text/html).

Nmap scan report for 192.168.1.4
Host is up (0.0052s latency).
Not shown: 993 closed ports
PORT     STATE SERVICE        VERSION
21/tcp   open  ftp            MikroTik router ftpd 6.29.1
22/tcp   open  ssh            MikroTik RouterOS sshd (protocol 2.0)
| ssh-hostkey: 
|_  1024 8e:c9:22:18:19:8a:84:0f:0d:7d:a1:b3:65:86:b3:ef (DSA)
23/tcp   open  telnet         Linux telnetd
53/tcp   open  domain         MikroTik RouterOS named or OpenDNS Updater
80/tcp   open  http           MikroTik router config httpd
|_http-methods: No Allow or Public header in OPTIONS response (status code 503)
| http-robots.txt: 1 disallowed entry 
|_/
|_http-title: RouterOS router configuration page
2000/tcp open  bandwidth-test MikroTik bandwidth-test server
8291/tcp open  unknown
Service Info: Host: chs-net4; OSs: Linux, RouterOS; Device: router; CPE: cpe:/o:linux:linux_kernel

Nmap scan report for 192.168.1.8
Host is up (0.0048s latency).
Not shown: 996 closed ports
PORT    STATE SERVICE    VERSION
22/tcp  open  ssh        Dropbear sshd 2015.67 (protocol 2.0)
|_ssh-hostkey: 
53/tcp  open  domain     dnsmasq 2.75
| dns-nsid: 
|_  bind.version: dnsmasq-2.75
80/tcp  open  http       DD-WRT milli_httpd
|_http-title: chs-net8 (build 29134) - Info
443/tcp open  tcpwrapped
|_http-title: chs-net8 (build 29134) - Info
| ssl-cert: Subject: commonName=NewMedia-NET GmbH/organizationName=NewMedia-NET GmbH/stateOrProvinceName=Saxon/countryName=DE
| Not valid before: 2016-02-19T09:23:37+00:00
|_Not valid after:  2026-02-16T09:23:37+00:00
|_ssl-date: ERROR: Script execution failed (use -d to debug)
Service Info: OS: Linux; Device: WAP; CPE: cpe:/o:linux:linux_kernel

Nmap scan report for 192.168.1.10
Host is up (0.0046s latency).
Not shown: 998 closed ports
PORT   STATE SERVICE VERSION
22/tcp open  ssh     (protocol 2.0)
|_ssh-hostkey: ERROR: Script execution failed (use -d to debug)
80/tcp open  http    nginx 1.6.2
|_http-methods: No Allow or Public header in OPTIONS response (status code 405)
|_http-title: Welcome to nginx on Debian!
1 service unrecognized despite returning data. If you know the service/version, please submit the following fingerprint at http://www.insecure.org/cgi-bin/servicefp-submit.cgi :
SF-Port22-TCP:V=6.47%I=7%D=7/9%Time=57812AD0%P=arm-unknown-linux-gnueabihf
SF:%r(NULL,22,"SSH-2\.0-OpenSSH_6\.7p1\x20Raspbian-5\r\n");

Nmap scan report for 192.168.1.11
Host is up (0.0036s latency).
Not shown: 998 closed ports
PORT     STATE SERVICE VERSION
22/tcp   open  ssh     (protocol 2.0)
|_ssh-hostkey: ERROR: Script execution failed (use -d to debug)
3000/tcp open  ppp?
2 services unrecognized despite returning data. If you know the service/version, please submit the following fingerprints at http://www.insecure.org/cgi-bin/servicefp-submit.cgi :
==============NEXT SERVICE FINGERPRINT (SUBMIT INDIVIDUALLY)==============
SF-Port22-TCP:V=6.47%I=7%D=7/9%Time=57812AD0%P=arm-unknown-linux-gnueabihf
SF:%r(NULL,29,"SSH-2\.0-OpenSSH_6\.7p1\x20Raspbian-5\+deb8u2\r\n");
==============NEXT SERVICE FINGERPRINT (SUBMIT INDIVIDUALLY)==============
SF-Port3000-TCP:V=6.47%I=7%D=7/9%Time=57812AD6%P=arm-unknown-linux-gnueabi
SF:hf%r(GenericLines,6E,"HTTP/1\.1\x20500\x20Server\x20Error\r\nContent-Le
SF:ngth:\x2042\r\nConnection:\x20close\r\n\r\nError\x20500:\x20Server\x20E
SF:rror\nBad\x20request:\x20\[\r\n\r\]")%r(GetRequest,94,"HTTP/1\.1\x20302
SF:\x20Found\r\nSet-Cookie:\x20session=;\x20path=/;\x20expires=Thu,\x2001-
SF:Jan-1970\x2000:00:01\x20GMT;\x20max-age=0;\x20HttpOnly\r\nLocation:\x20
SF:/lua/login\.lua\?referer=/\r\n\r\n")%r(NCP,74,"HTTP/1\.1\x20500\x20Serv
SF:er\x20Error\r\nContent-Length:\x2048\r\nConnection:\x20close\r\n\r\nErr
SF:or\x20500:\x20Server\x20Error\nClient\x20closed\x20connection")%r(HTTPO
SF:ptions,94,"HTTP/1\.1\x20302\x20Found\r\nSet-Cookie:\x20session=;\x20pat
SF:h=/;\x20expires=Thu,\x2001-Jan-1970\x2000:00:01\x20GMT;\x20max-age=0;\x
SF:20HttpOnly\r\nLocation:\x20/lua/login\.lua\?referer=/\r\n\r\n")%r(RTSPR
SF:equest,72,"HTTP/1\.1\x20500\x20Server\x20Error\r\nContent-Length:\x2046
SF:\r\nConnection:\x20close\r\n\r\nError\x20500:\x20Server\x20Error\nBad\x
SF:20request:\x20\[OPTIONS\]")%r(RPCCheck,74,"HTTP/1\.1\x20500\x20Server\x
SF:20Error\r\nContent-Length:\x2048\r\nConnection:\x20close\r\n\r\nError\x
SF:20500:\x20Server\x20Error\nClient\x20closed\x20connection")%r(DNSVersio
SF:nBindReq,74,"HTTP/1\.1\x20500\x20Server\x20Error\r\nContent-Length:\x20
SF:48\r\nConnection:\x20close\r\n\r\nError\x20500:\x20Server\x20Error\nCli
SF:ent\x20closed\x20connection")%r(DNSStatusRequest,74,"HTTP/1\.1\x20500\x
SF:20Server\x20Error\r\nContent-Length:\x2048\r\nConnection:\x20close\r\n\
SF:r\nError\x20500:\x20Server\x20Error\nClient\x20closed\x20connection")%r
SF:(SSLSessionReq,74,"HTTP/1\.1\x20500\x20Server\x20Error\r\nContent-Lengt
SF:h:\x2048\r\nConnection:\x20close\r\n\r\nError\x20500:\x20Server\x20Erro
SF:r\nClient\x20closed\x20connection")%r(Kerberos,74,"HTTP/1\.1\x20500\x20
SF:Server\x20Error\r\nContent-Length:\x2048\r\nConnection:\x20close\r\n\r\
SF:nError\x20500:\x20Server\x20Error\nClient\x20closed\x20connection")%r(S
SF:MBProgNeg,74,"HTTP/1\.1\x20500\x20Server\x20Error\r\nContent-Length:\x2
SF:048\r\nConnection:\x20close\r\n\r\nError\x20500:\x20Server\x20Error\nCl
SF:ient\x20closed\x20connection");

Nmap scan report for 192.168.1.15 (192.168.1.15)
Host is up (0.0013s latency).
Not shown: 996 filtered ports
PORT    STATE SERVICE    VERSION
22/tcp  open  tcpwrapped
|_ssh-hostkey: 
23/tcp  open  telnet?
80/tcp  open  http?
|_http-methods: No Allow or Public header in OPTIONS response (status code 200)
|_http-title: Site doesn't have a title (text/html).
443/tcp open  ssl/https  Web Switch
|_http-methods: No Allow or Public header in OPTIONS response (status code 200)
|_http-title: Site doesn't have a title (text/html).
| ssl-cert: Subject: commonName=TP-LINK CA/organizationName=TP-LINK Technologies CO., LTD./stateOrProvinceName=Guangdong/countryName=CN
| Not valid before: 2006-09-18T08:53:05+00:00
|_Not valid after:  2026-09-13T08:53:05+00:00
|_ssl-date: 2016-07-09T16:50:33+00:00; 0s from local time.
| sslv2: 
|   SSLv2 supported
|   ciphers: 
|     SSL2_DES_192_EDE3_CBC_WITH_MD5
|     SSL2_RC2_CBC_128_CBC_WITH_MD5
|     SSL2_RC4_128_WITH_MD5
|     SSL2_DES_64_CBC_WITH_MD5
|     SSL2_RC2_CBC_128_CBC_WITH_MD5
|_    SSL2_RC4_128_EXPORT40_WITH_MD5
2 services unrecognized despite returning data. If you know the service/version, please submit the following fingerprints at http://www.insecure.org/cgi-bin/servicefp-submit.cgi :
==============NEXT SERVICE FINGERPRINT (SUBMIT INDIVIDUALLY)==============
SF-Port23-TCP:V=6.47%I=7%D=7/9%Time=57812ACA%P=arm-unknown-linux-gnueabihf
SF:%r(NULL,3C,"\xff\xfc\x01\xff\xfb\x01\xff\xfb\x03\xff\xfd\x18\xff\xfb\x1
SF:8\xff\xfd\x1f\xff\xfb\x1f\xff\xfb\"\xff\xfb\x05Password\x20required,\x2
SF:0but\x20none\x20set\r\n")%r(GenericLines,3C,"\xff\xfc\x01\xff\xfb\x01\x
SF:ff\xfb\x03\xff\xfd\x18\xff\xfb\x18\xff\xfd\x1f\xff\xfb\x1f\xff\xfb\"\xf
SF:f\xfb\x05Password\x20required,\x20but\x20none\x20set\r\n")%r(GetRequest
SF:,3C,"\xff\xfc\x01\xff\xfb\x01\xff\xfb\x03\xff\xfd\x18\xff\xfb\x18\xff\x
SF:fd\x1f\xff\xfb\x1f\xff\xfb\"\xff\xfb\x05Password\x20required,\x20but\x2
SF:0none\x20set\r\n")%r(HTTPOptions,3C,"\xff\xfc\x01\xff\xfb\x01\xff\xfb\x
SF:03\xff\xfd\x18\xff\xfb\x18\xff\xfd\x1f\xff\xfb\x1f\xff\xfb\"\xff\xfb\x0
SF:5Password\x20required,\x20but\x20none\x20set\r\n")%r(RTSPRequest,3C,"\x
SF:ff\xfc\x01\xff\xfb\x01\xff\xfb\x03\xff\xfd\x18\xff\xfb\x18\xff\xfd\x1f\
SF:xff\xfb\x1f\xff\xfb\"\xff\xfb\x05Password\x20required,\x20but\x20none\x
SF:20set\r\n")%r(RPCCheck,3C,"\xff\xfc\x01\xff\xfb\x01\xff\xfb\x03\xff\xfd
SF:\x18\xff\xfb\x18\xff\xfd\x1f\xff\xfb\x1f\xff\xfb\"\xff\xfb\x05Password\
SF:x20required,\x20but\x20none\x20set\r\n")%r(DNSVersionBindReq,3C,"\xff\x
SF:fc\x01\xff\xfb\x01\xff\xfb\x03\xff\xfd\x18\xff\xfb\x18\xff\xfd\x1f\xff\
SF:xfb\x1f\xff\xfb\"\xff\xfb\x05Password\x20required,\x20but\x20none\x20se
SF:t\r\n")%r(DNSStatusRequest,3C,"\xff\xfc\x01\xff\xfb\x01\xff\xfb\x03\xff
SF:\xfd\x18\xff\xfb\x18\xff\xfd\x1f\xff\xfb\x1f\xff\xfb\"\xff\xfb\x05Passw
SF:ord\x20required,\x20but\x20none\x20set\r\n")%r(Help,3C,"\xff\xfc\x01\xf
SF:f\xfb\x01\xff\xfb\x03\xff\xfd\x18\xff\xfb\x18\xff\xfd\x1f\xff\xfb\x1f\x
SF:ff\xfb\"\xff\xfb\x05Password\x20required,\x20but\x20none\x20set\r\n")%r
SF:(SSLSessionReq,3C,"\xff\xfc\x01\xff\xfb\x01\xff\xfb\x03\xff\xfd\x18\xff
SF:\xfb\x18\xff\xfd\x1f\xff\xfb\x1f\xff\xfb\"\xff\xfb\x05Password\x20requi
SF:red,\x20but\x20none\x20set\r\n")%r(Kerberos,3C,"\xff\xfc\x01\xff\xfb\x0
SF:1\xff\xfb\x03\xff\xfd\x18\xff\xfb\x18\xff\xfd\x1f\xff\xfb\x1f\xff\xfb\"
SF:\xff\xfb\x05Password\x20required,\x20but\x20none\x20set\r\n")%r(SMBProg
SF:Neg,3C,"\xff\xfc\x01\xff\xfb\x01\xff\xfb\x03\xff\xfd\x18\xff\xfb\x18\xf
SF:f\xfd\x1f\xff\xfb\x1f\xff\xfb\"\xff\xfb\x05Password\x20required,\x20but
SF:\x20none\x20set\r\n");
==============NEXT SERVICE FINGERPRINT (SUBMIT INDIVIDUALLY)==============
SF-Port80-TCP:V=6.47%I=7%D=7/9%Time=57812AD5%P=arm-unknown-linux-gnueabihf
SF:%r(GetRequest,3813,"HTTP/1\.0\x20200\x20OK\r\nServer:\x20Web\x20Switch\
SF:r\nConnection:\x20close\r\nContent-Type:\x20text/html\r\n\r\n<script\x2
SF:0language=JavaScript><!--\nvar\x20g_Lan=1;\nvar\x20logonInfo\x20=\x20ne
SF:w\x20Array\(\n0,0,0\x20\);\nvar\x20g_year\x20=\x202014;\n--></script>\n
SF:<meta\x20http-equiv=\"Content-Type\"\x20content=\"text/html;\x20charset
SF:=iso-8859-1\">\n<HTML>\r\n\t<HEAD>\r\n\t\t<meta\x20http-equiv=\"pragma\
SF:"\x20content=\"no-cache\">\r\n\t\t<meta\x20http-equiv=\"expires\"\x20co
SF:ntent=\"wed,\x2026\x20Feb\x201997\x2008:21:57\x20GMT\">\r\n\t\t<script\
SF:x20language=\"javascript\"\x20src=\"\.\./localization/globalString\.js\
SF:"\x20type=\"text/javascript\"></script>\t\t\r\n\t<SCRIPT\x20language=\"
SF:javascript\">\r\n\t\t\r\n\t\tif\(window\.parent\x20!=\x20window\)\r\n\t
SF:\t{\r\n\t\t\twindow\.parent\.location\x20=\x20\"/\";\r\n\t\t}\r\n\t\t\t
SF:\r\n\t\tvar\x20errType\x20=\x20logonInfo\[0\];\r\n\r\n\t\tfunction\x20g
SF:oUrl\(url\)\r\n\t\t{\r\n\t\t\twindow\.open\(url,\x20'',\x20''\);\r\n\t\
SF:t}\r\n\t\t\r\n\t\tfunction\x20resize\(id\)\r\n\t\t{\r\n\t\t\tif\(docume
SF:nt\.all\)\r\n\t\t\t{\r\n\t\t\t\t\r\n\t\t\t\tvar\x20bgw\x20=\x20document
SF:\.body\.offsetWidth;\r\n\t\t\t\tvar\x20bgh\x20=\x20document\.body\.offs
SF:etHeight;\r\n\t\t\t\t\r\n\t\t\t\tdocument\.getEl")%r(HTTPOptions,3813,"
SF:HTTP/1\.0\x20200\x20OK\r\nServer:\x20Web\x20Switch\r\nConnection:\x20cl
SF:ose\r\nContent-Type:\x20text/html\r\n\r\n<script\x20language=JavaScript
SF:><!--\nvar\x20g_Lan=1;\nvar\x20logonInfo\x20=\x20new\x20Array\(\n0,0,0\
SF:x20\);\nvar\x20g_year\x20=\x202014;\n--></script>\n<meta\x20http-equiv=
SF:\"Content-Type\"\x20content=\"text/html;\x20charset=iso-8859-1\">\n<HTM
SF:L>\r\n\t<HEAD>\r\n\t\t<meta\x20http-equiv=\"pragma\"\x20content=\"no-ca
SF:che\">\r\n\t\t<meta\x20http-equiv=\"expires\"\x20content=\"wed,\x2026\x
SF:20Feb\x201997\x2008:21:57\x20GMT\">\r\n\t\t<script\x20language=\"javasc
SF:ript\"\x20src=\"\.\./localization/globalString\.js\"\x20type=\"text/jav
SF:ascript\"></script>\t\t\r\n\t<SCRIPT\x20language=\"javascript\">\r\n\t\
SF:t\r\n\t\tif\(window\.parent\x20!=\x20window\)\r\n\t\t{\r\n\t\t\twindow\
SF:.parent\.location\x20=\x20\"/\";\r\n\t\t}\r\n\t\t\t\r\n\t\tvar\x20errTy
SF:pe\x20=\x20logonInfo\[0\];\r\n\r\n\t\tfunction\x20goUrl\(url\)\r\n\t\t{
SF:\r\n\t\t\twindow\.open\(url,\x20'',\x20''\);\r\n\t\t}\r\n\t\t\r\n\t\tfu
SF:nction\x20resize\(id\)\r\n\t\t{\r\n\t\t\tif\(document\.all\)\r\n\t\t\t{
SF:\r\n\t\t\t\t\r\n\t\t\t\tvar\x20bgw\x20=\x20document\.body\.offsetWidth;
SF:\r\n\t\t\t\tvar\x20bgh\x20=\x20document\.body\.offsetHeight;\r\n\t\t\t\
SF:t\r\n\t\t\t\tdocument\.getEl");

Nmap scan report for 192.168.1.100
Host is up (0.0053s latency).
All 1000 scanned ports on 192.168.1.100 are closed

Nmap scan report for 192.168.1.132
Host is up (0.0040s latency).
Not shown: 998 closed ports
PORT   STATE SERVICE VERSION
22/tcp open  ssh     (protocol 2.0)
|_ssh-hostkey: ERROR: Script execution failed (use -d to debug)
80/tcp open  http    nginx 1.6.2
|_http-methods: No Allow or Public header in OPTIONS response (status code 405)
|_http-title: Welcome to nginx on Debian!
1 service unrecognized despite returning data. If you know the service/version, please submit the following fingerprint at http://www.insecure.org/cgi-bin/servicefp-submit.cgi :
SF-Port22-TCP:V=6.47%I=7%D=7/9%Time=57812AD0%P=arm-unknown-linux-gnueabihf
SF:%r(NULL,22,"SSH-2\.0-OpenSSH_6\.7p1\x20Raspbian-5\r\n");

Nmap scan report for 192.168.1.136
Host is up (0.046s latency).
Not shown: 994 closed ports
PORT     STATE    SERVICE        VERSION
990/tcp  filtered ftps
1805/tcp filtered enl-name
4279/tcp filtered vrml-multi-use
5988/tcp filtered wbem-http
9010/tcp filtered sdr
9575/tcp filtered unknown

Nmap scan report for 192.168.1.153
Host is up (0.014s latency).
Not shown: 998 closed ports
PORT    STATE SERVICE VERSION
80/tcp  open  http    Boa HTTPd 0.94.14rc21
|_http-methods: No Allow or Public header in OPTIONS response (status code 501)
| http-title: Range Extender Setup
|_Requested resource was index.asp
443/tcp open  https   axhttpd/1.4.9
|_http-methods: No Allow or Public header in OPTIONS response (status code 200)
|_http-title: Site doesn't have a title (text/html).
| ssl-cert: Subject: commonName=127.0.0.1/organizationName=axTLS Project
| Not valid before: 2010-12-26T22:33:39+00:00
|_Not valid after:  2024-09-03T21:33:39+00:00
|_ssl-date: ERROR: Script execution failed (use -d to debug)
|_sstp-discover: SSTP is supported.

Nmap scan report for 192.168.1.156 (192.168.1.156)
Host is up (0.0058s latency).
All 1000 scanned ports on 192.168.1.156 (192.168.1.156) are closed

Nmap scan report for 192.168.1.171
Host is up (0.0071s latency).
Not shown: 972 closed ports
PORT      STATE    SERVICE       VERSION
70/tcp    filtered gopher
280/tcp   filtered http-mgmt
631/tcp   filtered ipp
683/tcp   filtered corba-iiop
1066/tcp  filtered fpo-fns
1594/tcp  filtered sixtrak
1755/tcp  filtered wms
2038/tcp  filtered objectmanager
2601/tcp  filtered zebra
2710/tcp  filtered sso-service
3000/tcp  filtered ppp
3301/tcp  filtered unknown
3689/tcp  open     daap          Apple iTunes DAAP 11.1b37
3784/tcp  filtered bfd-control
5000/tcp  open     rtsp          Apple AirTunes rtspd 200.54 (Apple TV)
| rtsp-methods: 
|_  ANNOUNCE, SETUP, RECORD, PAUSE, FLUSH, TEARDOWN, OPTIONS, GET_PARAMETER, SET_PARAMETER, POST, GET
5100/tcp  filtered admd
7000/tcp  open     http          Apple AirPlay httpd
| http-methods: Potentially risky methods: PUT
|_See http://nmap.org/nsedoc/scripts/http-methods.html
|_http-title: Site doesn't have a title.
7100/tcp  open     http          Apple AirPlay httpd
|_http-methods: No Allow or Public header in OPTIONS response (status code 400)
|_http-title: Site doesn't have a title.
7999/tcp  filtered irdmi2
8290/tcp  filtered unknown
9101/tcp  filtered jetdirect
9207/tcp  filtered wap-vcal-s
9999/tcp  filtered abyss
12000/tcp filtered cce4x
14442/tcp filtered unknown
50000/tcp filtered ibm-db2
62078/tcp open     tcpwrapped
63331/tcp filtered unknown
Service Info: OSs: OS X, Mac OS X; Device: media device; CPE: cpe:/o:apple:mac_os_x

Nmap scan report for 192.168.1.172 (192.168.1.172)
Host is up (0.026s latency).
Not shown: 943 closed ports, 56 filtered ports
PORT      STATE SERVICE    VERSION
62078/tcp open  tcpwrapped

Service detection performed. Please report any incorrect results at http://nmap.org/submit/ .
Nmap done: 256 IP addresses (14 hosts up) scanned in 228.90 seconds
